name: Publish to PyPI

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish-to-pypi:
    runs-on: ubuntu-latest
    
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    
    environment:
      name: pypi
      url: https://pypi.org/project/vulnreach/${{ github.event.release.name }}
    
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      
      - name: Build release distributions
        run: |
          python -m pip install build
          python -m build
      
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1